Đây là component con
<div class="product-detail w-[500px] border-1 mx-auto">
    <img src="{{product.thumbnail}}"/>
    <h3 class="text-[26px]">{{product.title}}</h3>
    <span>{{product.price}}</span>
    <p>
        <input type="text" class="border-1" placeholder="Tên SP" [(ngModel)]="productname"/>
        <input type="text" class="border-1" placeholder="Ảnh sp" [(ngModel)]="image"/>
        <input type="number" class="border-1" placeholder="Giá SP" [(ngModel)]="price"/>
    </p>
    <p>
        Teen sp: {{productname}}
    </p>
    <p>
        <button [ngStyle]="{backgroundColor:'green',color:'white',padding:'10px'}" type="button" (click)="onClick()">Thêm sản phẩm</button>
    </p>
</div>