<form [formGroup]="studentForm" (ngSubmit)="onEditStudent()">
  <input type="text" placeholder="tên sv" formControlName="name" />
  <span
    *ngIf="
      !studentForm.controls.name.valid &&
      (studentForm.controls.name.dirty || studentForm.controls.name.touched)
    "
  >
    Tên không được để trống & >7 kí tự
  </span>
  <input type="number" placeholder="tuổi" formControlName="age" />
  <input type="text" placeholder="Địa chỉ Email" formControlName="email" />
  <span
    *ngIf="studentForm.controls.email.errors?.['email']&&(studentForm.controls.email.dirty||studentForm.controls.email.touched)"
  >
    Email không đúng định dạng
  </span>
  <span
    *ngIf="studentForm.controls.email.errors?.['required']&&(studentForm.controls.email.dirty||studentForm.controls.email.touched)"
  >
    Email không được để trống
  </span>
  <input type="text" placeholder="SĐT" formControlName="phone" />
  <span
    *ngIf="
      !studentForm.controls.phone.valid &&
      (studentForm.controls.phone.dirty || studentForm.controls.phone.touched)
    "
  >
    Điện thoại không đúng định dạng
  </span>
  <button class="bg-slate-300" type="submit" [disabled]="!studentForm.valid">
    Cập nhật
  </button>
</form>
