<li>
  <a href="admin/dashboard/students-add">add</a>
</li>
<li>
  <button (click)="Logout()">Đăng Xuất</button>
</li>
<table class="w-full my-6">
  <thead class="bg-[#ccc]">
    <tr>
      <th class="p-2 border">STT</th>
      <th class="p-2 border">Họ tên</th>
      <th class="p-2 border">Tuổi</th>
      <th class="p-2 border">Phone</th>
      <th class="p-2 border">Email</th>
      <th class="p-2 border">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students; index as i">
      <td class="border p-2">{{ i + 1 }}</td>
      <td class="border p-2">{{ student.name }}</td>
      <td class="border p-2">{{ student.age }}</td>
      <td class="border p-2">{{ student.phone }}</td>
      <td class="border p-2">{{ student.email }}</td>
      <td>
        <a
          class="bg-slate-300 p-2"
          href="admin/dashboard/students/edit/{{ student.id }}"
          >Edit</a
        >

        <!-- Other student data display -->
        <button class="bg-slate-300 p-2" (click)="onDelete(student.id)">
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
